name: Mutant Testing Report

on:
  push:
    branches: [ main ]

jobs:
  mutant-testing:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install mutmut==2.0.0
        pip install pytest
        pip install -r proyecto/requirements.txt

    - name: Run mutmut
      continue-on-error: true
      run: |
        cd proyecto
        mutmut run --paths-to-mutate classes/
        mutmut html

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./proyecto/mutmut_html
        user_name: 'github-actions[bot]'
        user_email: 'github-actions[bot]@users.noreply.github.com'
        commit_message: 'Update Mutant Testing Report'

permissions:
  contents: write
  pages: write
  id-token: write